* {
    font-size:medium;
}
body {
    background-color: rgb(255, 255, 255);
}
.loginbtn:hover {
    background-color: #2bff00be;
    border: 2px solid rgb(60, 255, 0);
    color: #fff;
}
.container {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    width: 50em;
    height: 20rem;
    margin-left: 17em;
}
#question {
    color: #0c2b06be;
}
.input {
    border-radius: 8px;
    width: 14em;
    height: 2em;
}
.submitform {
    padding-left: 10em;
}