* {
    font-size:medium;
}
body {
    background-color: rgb(255, 255, 255);
}
.loginbtn:hover {
    background-color: #2bff00be;
    border: 2px solid rgb(60, 255, 0);
    color: #fff;
}
.container {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    width: 50em;
    height: 20rem;
    margin-left: 17em;
}
#question {
    color: #0c2b06be;
}
.input {
    border-radius: 8px;
    width: 14em;
    height: 2em;
}
.submitform {
    padding-left: 10em;
}
.container .question-container h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #4a4a4a;
}
.container .question-container ul li {
    margin: 1rem;
    cursor: pointer;
}
.container .question-container ul li label {
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
}
.container .question-container {
    margin: 3rem;
}
.container button {
    width: 100%;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 0 0 1rem 1rem;
    padding: 8rem;
    margin-top: 8rem;
    background: #36ff0ebe;
    color: rgb(255, 255, 255);
}
.loginbtn {
    border-radius: 5px;
    cursor: pointer;
    width: 12em;
    height: 2em;
    background-color: #fff; 
}
.navigation ul {
    width: 100%;
    position: relative;
    margin-left: 0px;
}
.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
}
.navigation ul li:hover {
    background: #5eff00be;
    border-radius: 10px;
    width: 21em;
}
meter {
    height: 5rem;
    border: 1px solid rgb(255, 255, 255);
    width: 30rem;
    margin-top: 3rem;
    margin-left: 9rem;
}
.container button:hover {
    background: #ffe600be;
    transition: 0.5s;
}
#scoreText {
    text-align: center;
    margin-top: 3rem;
}
#replay {
    margin-top: 3rem;
}
.navigation {
    position: fixed;
    border: 2px solid #3cff00be;
    transition: 0.5s;
    overflow: hidden;
    height: 100%;
    width: 15em;
    background-color: hsl(218deg 50% 91%);
    
}