#question {
    color: #0c2b06be;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #4a4a4a;
}
ol li{
    font-size: 1.5rem;
    margin: 1rem;
    cursor: pointer;
    width: 100%;
    position: relative;
    margin-left: 0px;
}
.navigation ol li {
    width: 100%;
    list-style:circle;
}
span:hover {
    color: white;
}
.navigation ol li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: black;
}
.navigation ol li a .icon {
    position: relative;
    padding-left: 30px;
    height: 60px;
    line-height: 60px;
    text-align: left;
    display: block;
    min-width: 60px;
    display: inline;
}
.navigation ol li a .icon fa {
    font-size: 20px;
}
.navigation ol li .title {
    position: relative;
    padding: 0 10px;
    height: 40px;
    display: block;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
.toggle {
    position: relative;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.toggle:hover {
    background: #2bff00be;
}
.toggle:before {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    line-height: 60px;
    text-align: center;
    font-size: 24px;
}
.examportal {
    text-align: center;
    width: 20em;
    height: 20em;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    color: rgb(255, 255, 255);
    margin-top: -10em;
    border-radius: 5px;
    position:center;
    justify-content: center;
}
a {
    color: rgb(255, 255, 255);
}
.form2 {
    border-radius: 5px;
}
*{
  margin: 10;
  padding: 10;
  box-sizing: border-box;
  font-family: sans-serif;
}
html,body{
    place-items:center;
    height: 100%;
    display: grid;
    width: 100%; 
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
}
.inputfield[type="radio"]{
    border-radius:2px;
    display: none;
  }
::selection{
  background: #1a75ff;
  color: #fff;
}
.loginsignup{
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    padding: 15px;
    overflow: hidden;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0, 26, 255, 0.1);
    
}
#signup:checked label.signup{
  color: #fff;
  cursor:grab;
  user-select:auto;
}
.container{
    color:black;
    padding: 15px;
    display:center;
    background-image: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
    border-radius: 10px;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.create-new-account {
    color: black;
}
/**.image-properties{
    min-width:1%
}*/
.author-profile .author-profile:hover{
    margin-bottom: 1cm;
    color:green;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
